<p style="color: green"><%= notice %></p>

<% content_for :title, "Players" %>

<h1>Players</h1>

<div id="players">
  <% @players.each do |player| %>
    <p>
      <%= link_to player.name, player %>
    </p>
  <% end %>
</div>

